.runs ul {
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 500px;
}
.screenshots ul {
	max-height: 115px;
	overflow: scroll;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 150px;
}
.screenshots li {
	margin: 0;
	padding: 0;
	display: inline;
}
.screenshots img {
	padding: 5px 5px;
	width: 75px;
}

.page-header .search {
	display: inline;
	width: 250px;
	margin-right: 15px;
	margin-top: -3px;
}

.label {
	text-transform: uppercase;
}

.sort {
	text-decoration: underline;
	cursor: pointer;
}