body form {
	display: none;
}
.is-loaded form {
	display: block;
}

.runs ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 450px;
}
.screenshots ul {
	max-height: 115px;
	overflow: scroll;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 150px;
	height: 110px;
}
.screenshots li {
	margin: 0;
	padding: 0;
	display: none;
}
.screenshots li:nth-child(1), .screenshots li:nth-child(2), .screenshots li:nth-child(3) {
	display: inline;
}
.list > tr:hover .screenshots li {
	display: inline;
}

.screenshots img {
	padding: 5px 5px;
	max-width: 100px;
	max-height: 100px;
}

.page-header .search {
	display: inline;
	width: 250px;
	margin-right: 15px;
	margin-top: -3px;
}

.label {
	text-transform: uppercase;
}

.sort {
	text-decoration: underline;
	cursor: pointer;
}